body {
    font-family: 'Khula', sans-serif;
}

svg {
    display: block;
    margin: auto
}

.btn-group {
  text-align: center;
  display: block;
  margin: auto;
  padding: 6px;
  border-radius: 8px;
  box-shadow: none;
  margin: 25px 5px;
}

.btn-group .btn {
  color: white;
  background-color: green;
}

.btn-group .btn:focus {
  outline: none;
  color: white;
}

.btn-group .btn:active {
  outline: none;
}

.btn-group .btn:hover {
  color: white;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.color {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 100px;
  left: 200px;
}

.footer {
text-align: center;
}

.header {
  text-align: center;
}

.intro {
  text-align: center;
}

.qual {
  color: black;
}

.graphTitle {
  color: grey;
}
